<li id="post{{ post.id }}" class="list-group-item topics">
  <div class="row">
    <div class="col-sm-2 text-center">
      {% if post.poster is not null %}
        {% set username = post.poster.username %}
      {% else %}
        {% set username = 'orion.forum.deleted.user'|trans %}
      {% endif %}
      <p><strong>{{ username }}</strong></p>
    </div>
    <div class="col-sm-10">
      <div class="raw">
        <span class="small">{{ 'orion.forum.on'|trans }} {{ post.date|date("Y-m-d H:i:s") }}</span>

        {% if app.user and posts is defined %}
          <ul class="pull-right list-inline">
            {% if (post.poster == app.user or is_granted('ROLE_MODERATOR')) %}
              <li><a id="{{ post.id }}" class="editAction" href="{{ path("orion_forum_post_edit", {'id': post.id}) }}"><i class="glyphicon glyphicon-edit"></i> {{ 'orion.forum.edit'|trans }}</a></li>
            {% endif %}
            {% if is_granted('ROLE_MODERATOR') %}
              <li>
                <a href="{{ path('orion_forum_post_delete', {'id': post.id}) }}"><i class="glyphicon glyphicon-remove"></i> {{ 'orion.forum.remove'|trans }}</a>
              </li>    
            {% endif %}
          </ul>
        {% endif %}
        <br /><br />
      </div>
              
        <div id="content{{ post.id }}" class="raw">{{ post.content }}</div>
      {% if app.user and posts is defined %}
        <ul class="pull-right list-inline">
          <li><a href="{{ path(posts.route, {'slug': posts.params.slug, 'p': posts.pageCount, 'quote': post.id}) }}#orion_forum_post"><i class="glyphicon glyphicon-tint"></i> {{ 'orion.forum.quote'|trans }}</a></li>
          {% if posts.pageCount != posts.currentPageNumber %}
            <li><a href="{{ path(posts.route, {'slug': posts.params.slug, 'p': posts.pageCount}) }}#orion_forum_post"><i class="glyphicon glyphicon-thumbs-up"></i> {{ 'orion.forum.reply'|trans }}</a></li>
          {% else %}
            <li><a href="#orion_forum_post"><i class="glyphicon glyphicon-thumbs-up"></i> {{ 'orion.forum.reply'|trans }}</a></li>
          {% endif %} 
        </ul>
      {% endif %}
    </div>
  </div>
</li>
